<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
    
    <!-- 导入外部的properties配置文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	
	
	<!-- 配置c3p0数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="driverClass" value="${driverClass}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
		<!--初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
		<property name="initialPoolSize" value="${initialPoolSize}"></property>
		<!--连接池中保留的最小连接数。Default: 3 -->
		<property name="minPoolSize" value="3"></property>
		<!--连接池中保留的最大连接数。Default: 15 -->
		<property name="maxPoolSize" value="${maxPoolSize}"></property>
		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
		<property name="acquireIncrement" value="3"></property>
		<!--最大空闲时间，1800秒内未使用则连接被丢弃，若为0则永不丢弃。Default: 0 -->
		<property name="maxIdleTime" value="1800"></property>
	</bean>
    
    
    <!-- 配置sessionFactory，并将dataSource指向c3p0创建的dataSource： -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<!-- user -->
				<value>classpath:cn/itcast/nsfw/*/entity/*.hbm.xml</value>
				
				<!-- test -->
				<value>classpath:cn/itcast/test/entity/*.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	
    <!-- 事务管理 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	<!--事务通知-->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="load*" read-only="true" />
			<tx:method name="list*" read-only="true" />
			<tx:method name="search*" read-only="true" />
			<!-- 如果不是以上方法的就回滚 -->
			<tx:method name="*" rollback-for="Throwable" />
		</tx:attributes>
	</tx:advice>
	
	
	<!-- 配置需要进行事务控制的类(服务类) -->
	<aop:config>
		<!-- <aop:pointcut id="serviceOperation" expression="execution(* cn.itcast..service.impl.*.*(..))" /> -->
		
		<!-- 拦截以Service结尾的bean -->
		<aop:pointcut id="serviceOperation" expression="bean(*Service)" />
		
		
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>
    
   
 	<!-- 所有业务dao的parent：其他bean使用时用parent="xDao"即可 -->
    <!-- 使用abstract="true"就可以不用写class="" -->
    <bean id="xDao" abstract="true">
    	<!-- 为xDao中的HibernateDaoSupport注入sessionFactory -->
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <!-- 权限鉴定类 -->
    <bean id="permissionCheck" class="cn.itcast.core.permission.impl.PermissionCheckImpl"></bean>
    
    
    <!-- 引入外部配置文件(test-spring.xml) -->
    <import resource="classpath:cn/itcast/*/conf/*-spring.xml"/>
    
    <!-- 引入外部配置文件(通配符:xx-spring.xml) -->
    <import resource="classpath:cn/itcast/nsfw/*/conf/*-spring.xml"/>
    
</beans>
